*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    font-weight: 400;
    background-position: center;
    background-size: cover;
}
h3{
padding-top: 50px;
}
hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    margin: 5%;
    font-size: 10px;
    border-top: 1px solid rgb(56, 56, 56);
}
footer a{
    text-decoration: none;
    color: #000;
}
address{
    padding: 5%;
    margin-bottom: 1%;
}
iframe{
    margin: 10%;
    width: 80%;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Coordonnee{
    border-radius: 25px;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
#Sad-Image{
    max-width: 400px;
    margin-top: 10%;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}
.Slogan{
    margin-top: 60px;
   text-align: center;
}
#language {
    float: left;
    margin-left: 2%;
}
#language select {
background-color: rgb(255, 255, 255);
}

#myLogoImage{
    height: 40px;
    width: 40px;
}
#Carte{
    max-width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 10px;
}
.text{
    text-align: justify;
    margin: 20px;
    color: #000;
    
}
#Title{
    display: inline-block;
}
.logo{
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
    
}
.logo a{
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
    

}

.NavBar{
    float: right;   
    border-bottom: 1px solid black;

}
.NavBar ul li {
    text-decoration: none;
    display: inline;

    border-spacing: 10px;
    padding-right: 5px ;
    
  }
  .NavBar ul li a{
    display: inline;

    color: #000;
    text-decoration: none;
    font-size: 15px;
    border: none;

  }

  .Revendication-Resume{
      margin-top: 100px;
  }
  .Connexion{
      margin: 5%;
      margin-top: 150px;
  }
  .Videos{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .Table {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  .Table th {
    border: 1px solid black;
  }
  .Big-logo{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  #Lien-Officiel{
      float: right;
      color: azure;
      text-decoration: none;
  }
  .Revendication-List ul li a{
      text-decoration: none;
      color: #000;
  }

@media screen and (min-width:600px){
    .text{
        text-align: justify;
        margin: 0% 10% 1% 10%;
    }
    .NavBar{
        float: right;   
        border-bottom: 1px solid black;
       
        
    }
    .NavBar ul li {
        text-decoration: none;
        display: inline;
        border-spacing: 10px;
        padding-right: 5px ;
        
      }
      .NavBar ul li a{
        color: #000;
        text-decoration: none;
        font-size: 15px;
        border: none;

      }
      #language {
        float: right;
    }
}
 
/* TP2*/

#AdminBtn, #DeleteBtn{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 5%;
    height: 30px;
    margin: 10%;
}
#jstree_title
 {
    margin-left: 10%;
}
#jstree {
    margin-left: 10%;
}
#Remove-btn {
    margin-left: 10%;
}



/*Animation TP2*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.Animationbox{
    height: 40px;
    width: 80%;
    margin: auto;
    color:rgba(27, 27, 27, 0.75) ;
    background-color:rgba(27, 27, 27, 0.75);
}
.line {
    position: relative;
    top: 50%;
    width: 200%;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 17px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}
.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 30em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}
