<svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 579.16 345.03">
    <defs>
        <style>
            .cls-1 {
                isolation: isolate;
                font-size: 180px;
                font-family: XtreemFatPERSONALUSE, Xtreem Fat PERSONAL USE;
            }
        </style>
    </defs>
    <title>LogoCours</title><text id="Syndicat" class="cls-1" transform="translate(1.89 189)">Syndicat</text>
</svg>